[Desktop Entry]
Name=Meteor App
GenericName=View meteors and analysis
Categories=Education
Exec=bash -norc -c "cd [path to project] && python post_processing_gui.py"
Icon=none
Keywords=meteor;meteors;
NoDisplay=false
Terminal=false
Type=Application
